Repository therealsamyak/uno-pomdp: changes, and which lefthook commands are due for each by the changed paths.
All: py-lint, py-format, json-md-yml-format

lefthook.yml:

pre-commit:
  commands:
    py-lint:
      glob: "**/*.py"
      run: uvx ruff check --fix --force-exclude {staged_files}
      stage_fixed: true

    py-format:
      glob: "**/*.py"
      run: uvx ruff format {staged_files}
      stage_fixed: true

    json-md-yml-format:
      glob: "**/*.{json,md,yml,yaml}"
      run: npx --yes prettier --write {staged_files}
      stage_fixed: true

autoformat readme
  README.md
Due: none

math finalized
  MATH.md
  prompts/cursor_change_uno_rules_to_disallow_sta.md
Due: json-md-yml-format

Create Math_2
  Math_2
Due: none

Rename Math_2 to Math_2.md
  Math_2.md
Due: none

math finalized probably
  MATH.md
  prompts/cursor_questioning_the_format_of_math_m.md
Due: json-md-yml-format

Remove unused components from state and observation
  Math_2.md
Due: none

Added vibe coded framework
  Iteration 1.md
Due: none

Clarify action space and legal actions in Math_2.md
  Math_2.md
Due: none

Fix LaTeX formatting in Math_2.md
  Math_2.md
Due: none

initial vibe coding
  README.md
  benchmarks/__init__.py
  benchmarks/benchmark.py
  main.py
  prompts/cursor_implement_and_organize_full_uno.md
  pyproject.toml
  src/__init__.py
  src/belief/__init__.py
  src/belief/belief_update.py
  src/belief/marginals.py
  src/belief/particle_filter.py
  src/cli/__init__.py
  src/cli/display.py
  src/cli/game_interface.py
  src/core/__init__.py
  src/core/actions.py
  src/core/cards.py
  src/core/observations.py
  src/core/state.py
  src/game/__init__.py
  src/game/rewards.py
  src/game/rules.py
  src/game/transitions.py
  src/models/__init__.py
  src/models/policy.py
  src/pomdp.py
  src/solver/__init__.py
  src/solver/heuristics.py
  src/solver/value_iteration.py
  tests/__init__.py
  tests/test_quick.py
Due: py-lint, py-format, json-md-yml-format

initial vibe coding pt 2
  benchmarks/benchmark.py
  src/belief/marginals.py
  src/belief/particle_filter.py
  src/cli/display.py
  src/cli/game_interface.py
  src/core/state.py
  src/game/rules.py
  src/game/transitions.py
  src/pomdp.py
  src/solver/heuristics.py
  src/solver/value_iteration.py
  tests/test_quick.py
Due: py-lint, py-format
